apiVersion: apps/v1

kind: Deployment
metadata:
  name: simple-app-deployment

spec:
  replicas: 2
  selector:
    matchLabels:
      app: simple-app

  template:
    metadata:
      labels:
        app: simple-app

    spec:
      containers:
        - name: simple-app
          image: nginx:latest
          ports:
            - containerPort: 80
